.box{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.contain-register{
    display: flex;
    align-items: center;
    flex-direction: column;
  justify-content: flex-start;
  width: 35rem;
  height: fit-content;
  padding: 3rem;
  background: var(--white);
  border-radius: 1rem;
}
.contain-register > input{
    padding: 1rem;
    width: 30rem;
   border-radius: .8rem;
margin: .5rem;
 outline-width: 0;
 border: 1px solid var(--gray);
outline-color: var(--white);
}

.contain-register > input::placeholder{
    color: var(--blue);
}



@media screen and (max-width: 647px){

  .contain-register{
    width: 80%;
    height: 80%;
  }

    .contain-register > input{
        width:80%;
    }
    .contain-register {
        padding: 1rem;
    }
}

