.box{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.contain-register{
    display: flex;
    align-items: center;
    flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
  height: fit-content;
  padding: 1.5rem 3rem;
  background: var(--white);
  border-radius: 1rem;
}
 .contain-register> h2{
    color:  rgba(29, 5, 5, 0.726);
 }

.contain-register > input{
    padding: 1rem;
    width: 20rem;
margin: .3rem;
 outline-width: 0;
 border-top: 0;
 border-left: 0;
 border-right: 0;
 border-style: solid;
 border-color: var(--gray);
}
#file{
  border-bottom: 0;
}

.contain-register > input::placeholder{
    color: var(--gray);
}

#img{
  display: flex;
  padding: 1rem;
  align-items: center;
}



@media screen and (max-width: 647px){

  .contain-register{
    width: 80%;
    height: 80%;
  }

    .contain-register > input{
        width:80%;
    }
    .contain-register {
        padding: 1rem;
    }
}

