.contain-header{
    width: 100vw;
    display: flex;
    color: var(--white);
    justify-content: space-between;
    padding: 2rem ;
}

.contain-header >a > h2{
    cursor: pointer;
    color: var(--white);
}

.leftside{
    display: flex;
}

.leftside> a >h2{
    padding-right: 2rem ;
    color: var(--white);
}

.leftside > a > h2:hover{
    text-decoration: underline;
    cursor: pointer;
    color: rgba(255, 250, 250, 0.836)
}
