
  .userchat_box {
    display: flex;
    align-items: center;
    padding: 10px;
    background: white;
    border-bottom: 1px solid black;
    cursor: pointer;
  }
  .userchat_box > h4 {
    margin-left: 10px;
  }
  .userchats :hover {
    background: gray;
  }