.sidebar {
    border-radius: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    height: 90vh;
  }
  .header > .MuiSvgIcon-root {
    cursor: pointer;
  }
  .header {
    display: flex;
    align-items: center;
    padding: 8px;
    background: #f2f0f5;
    border-radius: 20px 0 0 0;
    justify-content: space-between;
  }
  .header > h3 {
    margin-left: 10px;
  }
  .searchbox {
    display: flex;
    align-items: center;
    padding: 5px;
    background: white;
    border-radius: 10px;
  }
  .searchbox > input {
    outline-width: 0;
    border-width: 0;
    background: #2ecc71;
    color: rgb(14, 5, 5);
    padding: 10px;
    width: 100%;
    border-radius: 20px;
  }
  .searchbox > input::placeholder {
    color: #ecf0f1;
  }
  
  .searchbox > .MuiSvgIcon-root {
    color: black;
  }
  .searchbar {
    padding: 3px;
    background: #ecf0f1;
  }
  .userchats {
    flex: 1;
    overflow-y: scroll;
  }
  .selectchat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.65;
  }