:root{
  --black: black;
  --white : snow;
  --gray : gray;
  --blue : blue;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginpage{
  width: fit-content;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, #1CB5E0 2%, #0c1675 98%);
}

.loginpage::-webkit-scrollbar-track{
  background: red;
}


.chatpage {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #1CB5E0 2%, #0c1675 98%);
}
.chatbox {
  width: 95vw;
  height: 90vh;
  background: #ecf0f1;
  border-radius: 30px;
  display: flex;
}

