.contain-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 83vh;
}


.banner-leftside{
   display: flex;
   flex-direction: column;
   flex: .5;
   align-items: flex-end;
   justify-content: center;
   padding-right: 4rem;
}

.contain2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.discribtion{
    color: var(--white);
    font-size: 1.5rem;
    padding-bottom: 2rem;
}
.discribtion2{
    color: var(--white);
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
}

.banner-rightside{
display: flex;
flex: .5;
align-items: center;
justify-content: center;
}

.phone{
    width: fit-content;
    height: 30rem;
    transform: rotate(-30deg);
}

@media  screen and (min-width: 667px ) and (max-width:1023px) {

    .phone{
        height: 20rem;
    }  

    .contain2{
        padding-left: 2rem;
    }
    
}

@media screen and (max-width:647px) {


    .phone{
        height: 15rem;
    }
    
    .contain-banner{
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        width: 100vw;
        padding-left: 1rem;
    background: linear-gradient(0deg, #1CB5E0 2%, #0c1675 98%);

    }

    .discribtion{
        font-size: 1rem;
    }
    .discribtion2{
        font-size: .6rem;
    }
   
    .banner-rightside{
        align-items: flex-start;
    }
}
