.contain-banner{
    display: flex;
    flex: 1;
}

.banner-leftside{
   display: flex;
   flex-direction: column;
   flex: .5;
   align-items: flex-end;
   justify-content: center;
   padding-right: 4rem;
}

.contain2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.discribtion{
    color: snow;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}
.discribtion2{
    color: snow;
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
}

.banner-rightside{
display: flex;
flex: .5;
align-items: center;
justify-content: center;
}

.phone{
    width: fit-content;
    height: 30rem;
    transform: rotate(-30deg);
    animation: infinite;
}